@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Medium.woff') format('woff2'), url('./assets/fonts/Inter-Medium.woff2') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.woff') format('woff2'), url('./assets/fonts/Inter-Regular.woff2') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
}

.header {
    background-color: #D9D9D9;
    max-width: 100%;
    height: 101px;
    margin-bottom: 40px;
}

.aside {
    position: absolute;
    background-color: #D9D9D9;
    top: 141px;
    left: 0;
    width: 200px;
    min-height: 160%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

.main {
    margin: 0 auto;
    max-width: 1022px;
    padding-left: 290px;
    padding-right: 130px;
}

.main__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
    row-gap: 30px;
    margin-bottom: 40px;
}

.main__item {
    width: 100%;
    height: 61px;
    background-color: #D9D9D9;
}

.main__item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 168px;
}

/* Comment System styles */

.commentSystem {
    position: relative;
}

.commentSystem::before {
    content: "";
    background-color: #D9D9D9;
    height: 3px;

    position: absolute;
    
    left: 0;
    right: 0;
}

.commentSystem__header {
    display: flex;
    padding-top: 20px;

    max-width: 600px;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 32px
}

.commentSystem__title {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 5px;

    color: #000000;

    border-bottom: 3px solid #000000;

    
    margin-right: 20px;
}

.commentSystem__count {
    opacity: 0.4;
}

.commentSystem__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60%;
}

/* filter dropdown styles */

.filter__dropdown {
    min-width: 210px;
    margin-right: 20px;
    position: relative;
}

.filter__dropdownBtn {
    display: flex;
    align-items: center;
}

.filter__direction {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;

    margin-left: 12px;
    padding-top: 5px;

    cursor: pointer;

}

.filter__direction svg path {
    transition: opacity ease-in-out 0.2s;
}

.filter__direction:hover svg path {
    opacity: 0.6;
    transition: opacity ease-in-out 0.2s;
}

.filter__selected:hover {
    opacity: 1;
    transition: opacity ease-in-out 0.2s;
}

.filter__selected, .filter__favorites {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: underline;

    color: #000000;

    opacity: 0.4;

    cursor: pointer;

    display: flex;
    align-items: center;

    transition: opacity ease-in-out 0.2s;
}

.filter__favorites:hover {
    opacity: 1;
}

.filter__favorites_active {
    opacity: 1;
}

.filter__favorites svg {
    margin-left: 5px;
    z-index: -1;
}

.filter__list {
    position: absolute;
    z-index: 1000;
    top: 30px;

    display: none;

    min-width: 185px;
    background-color: white;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    padding-top: 8px;
    padding-bottom: 8px;

    padding-left: 30px;
    padding-right: 20px;
}

.filter__item {
    cursor: pointer;

    margin-bottom: 5px;
    transition: opacity ease-in-out 0.2s;

    display: flex;
    align-items: center;
    position: relative;
}

.filter__item span {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;

    color: #000000;

    opacity: 0.4;
}

.filter__item svg {
    position: absolute;
    left: -25px;
    display: none;
    z-index: -1;
}

.filter__item:hover span {
    opacity: 1;
    transition: opacity ease-in-out 0.2s;
}

.filter__item:last-child {
    margin-bottom: 0px;
}

/* ==================== */

/*USER BLOCK*/

.commentSystem__userBlock {
    display: flex;
    margin-bottom: 40px;
}

.userBlock__ava img{
    border-radius: 50%;
    width: 61px;
    height: 61px;
}

.userBlock__content {
    flex-grow: 1;
    margin-left: 30px;
}

.userBlock__title {
    display: flex;
    justify-content: space-between;
    max-width: 688px;
    margin-bottom: 20px;
    margin-right: 27%;
}

.userBlock__nickname {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;

    color: #122AC0;
}

.userBlock__maxChar {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;

    color: #000000;
    opacity: 0.4;
}

.userBlock__form {
    display: flex;
    justify-content: space-between;

    position: relative;
}

.userBlock__textarea {
    display: inline-block;
    resize: none;
    min-width: 69%;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    outline: none;
    border: none;

    padding-left: 30px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 40px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;

    color: #000000;
    
}

.userBlock__textarea::placeholder {
    font-family: 'Inter';

    font-weight: 400;
    font-size: 18px;

    color: #000000;
    opacity: 0.4;
}

.userBlock__btn {
    display: block;
    width: 100%;
    margin-left: 30px;

    background-color: #ABD873;
    border: none;
    cursor: pointer;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #000000;

    border-radius: 5px;

    transition: background-color ease-in-out 0.2s;
    max-height: 61px;

    padding: 15px 0;
}

.userBlock__btn:hover {
    background-color: #8fda34;
    transition: background-color ease-in-out 0.2s;
}

.--disable {
    background-color: #A1A1A1;
}


.--disable:hover {
    cursor: auto;
    background-color: #A1A1A1;
}

.userBlock__maxCharWarning {
    position: absolute;
    top: -40px;
    right: 0;


    max-width:23%;
    text-align: center;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 400;

    color: #FF0000;

    display: none;
}

/*COMMENT BLOCK*/

.commentBlock__comment{
    display: flex;
    margin-bottom: 30px;
}

.commentBlock__reply{
    display: flex;
    margin-left: 90px;
    margin-top: 28px;
    margin-bottom: 30px;
}

.commentBlock__content {
    margin-left: 30px;
    min-width: 69%;
}

.commentBlock__title {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.commentBlock__ava img{
    border-radius: 50%;
    width: 61px;
    height: 61px;
}

.commentBlock__nickname {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;

    color: #122AC0;

    margin-right: 15px;
}

.commentBlock__prenickname {
    display: flex;
    align-items: center;
    margin-right: 15px;

    font-family: 'Inter';

    font-weight: 400;
    font-size: 18px;

    color: #000000;

    opacity: 0.4;
}

.commentBlock__prenickname svg {
    margin-right: 15px;
}

.commentBlock__time {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;

    color: #000000;
    opacity: 0.4;
}

.commentBlock__text {
    font-family: 'Inter';

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;

    margin-bottom: 15px;
    word-break: break-all;
}

.commentBlock__btnBlock {
    display: flex;
}

.commentBlock__btnReply, 
.commentBlock__btnLike {
    display: flex;
    align-items: center;
    font-family: 'Inter';

    font-weight: 400;
    font-size: 18px;

    color: #000000;
    opacity: 0.4;
    cursor: pointer;
    background-color: transparent;
    border: none;

    margin-right: 20px;

    transition: opacity ease-in-out 0.2s;
}

.commentBlock__btnReply svg {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.commentBlock__btnReply:hover {
    opacity: 1;
    transition: opacity ease-in-out 0.2s;
}

.commentBlock__btnLike:hover {
    opacity: 1;
    transition: opacity ease-in-out 0.2s;
}

.commentBlock__btnLike svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.btnBlock__rating {
    display: flex;
}

.plus,
.minus {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    border-radius: 50%;

    font-family: 'Inter';

    font-weight: 500;
    font-size: 18px;

    cursor: pointer;

    line-height: 10px;

    background-color: rgba(0, 0, 0, 0.1);
    transition:  ease-in-out 0.2s;
}

.plus:hover,
.minus:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition:  ease-in-out 0.2s;
}

.plus {
    margin-left: 10px;
    color: #8AC540;
}

.minus {
    margin-right: 10px;
    color: #FF0000;
}

.plus_disable {
    background-color: rgba(0, 0, 0, 0.05);
    color: #d6ebbc;
}

.minus_disable {
    background-color: rgba(0, 0, 0, 0.05);
    color: #f59191;
}

.likeCounter {
    font-family: 'Inter';

    font-weight: 500;
    font-size: 18px;
}

/* Media */

@media (max-width: 1200px) {
    .userBlock__form {
        flex-wrap: wrap;
    }

    .userBlock__textarea {
        width: 100%;
    }
        
    .userBlock__btn {
        margin-left: 0;
        margin-top: 18px;
    }

    .userBlock__title {
        margin-right: 0;
    }

    .userBlock__maxCharWarning {
        position: absolute;
        top: calc(100% + 10px);
        right: calc(50% - 178px / 2);
    
        font-size: 12px;
        max-width:100%;
        
    }
}

@media (max-width: 960px) {
    .main {
        padding-left: 270px;
    }
}

@media (max-width: 916px) {
    .commentSystem__header {
        flex-wrap: wrap;
        
    }  

    .commentSystem__title {
        margin-bottom: 28px;
    }

    .aside {
        display: none;
    }
    
    .main {
        padding: 0;
        margin: 0 20px;
    }

}

@media (max-width: 620px) { 
    .commentSystem__title {
        margin-right: 40px;
    }
}

@media (max-width: 605px) {
    .commentBlock__title {
        flex-wrap: wrap;
    }

    .commentBlock__nickname {
        margin-right: 30px;
    }

    .commentBlock__prenickname {
        order: 3;
        margin-top: 10px;
    }
}

@media (max-width: 550px) {
    .btnBlock__rating {
        flex-direction: column;
        align-items: center;
    }

    .minus,
    .plus {
        margin: 0;
    }

    .minus {
        order: 3;
        margin-top: 5px;
    }

    .plus {
        order: 1;
        margin-bottom: 5px;
    }

    .likeCounter {
        order: 2;
    }
    
}

@media (max-width: 500px) {
    .commentSystem__userBlock {
        display: block;
        position: relative;
    }

    .userBlock__content {
        margin: 0;
    }

    .userBlock__nickname {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .userBlock__title {
        position: absolute;
        top: 18px;
        left: 80px;
        right: 0;

        flex-direction: column;

        margin-bottom: 0;
        
    }

    .userBlock__maxChar {
        align-self: flex-end;
        font-size: 12px;
    }

    .userBlock__form {
        margin-top: 11px;
    }

    .userBlock__textarea::placeholder {
        font-size: 14px;
    }

    .commentBlock__comment {
        display: block;
        position: relative;
    }

    .commentBlock__content {
        margin-left: 0;
    }

    .commentBlock__reply {
        display: block;
        margin: 0;
        position: relative;
    }

    .commentBlock__title {
        position: absolute;
        top: 18px;
        left: 80px;
        right: 0;
    }
    .commentBlock__content {
        margin-top: 15px;
    }
}

@media (max-width: 400px) {

    .main {
        margin: 0 5px;
    }

    .filter__dropdown {
        margin-right: 5px;
        min-width: 185px;
    }

    .filter__selected {
        font-size: 14px;
    }

    .filter__favorites {
        font-size: 14px;
    }

    .commentBlock__btnReply,
    .commentBlock__btnLike {
        font-size: 16px;
        margin-right: 10px;
        padding: 0;
    }

    .commentBlock__text {
        margin-top: 20px;
    }

    .commentBlock__prenickname {
        margin-top: 5px;
    }
}